.toggle {
    @apply relative inline-flex items-center cursor-pointer;
    &__label {
        @apply ml-3 text-sm font-medium text-gray-900 dark:text-gray-300;
        user-select: none;
    }
    &__switch {
        height: 1.25rem;
        &:after {
            @apply absolute bg-white border-gray-300 border rounded-full h-5 w-5 transition-all;
            height: 1.5rem;
            width: 1.5rem;
            content: "";
            top: -0.125rem;
            left: 0;
        }
    }
}